<h1>search for a movie!</h1>

<form action="/results" method="GET">   <!-- after you hit submit input
                                            using a 'get' method it shoots the infor
                                            with name search to '/results' -->

<input type="text" placeholder="search term" name="search">
<input type="submit">

</form>